$body-bg: #060606;

$black-text: #0f0e0e;

$white: rgb(201, 201, 216);

$white-hover: rgb(175, 175, 182);

$card-border: rgba(255, 255, 255, 0.1);

$card-link-hover: rgba(20, 20, 20, 0.3);

$card-border-hover: rgba(255, 255, 255, 0.2);

$card-bg:  rgba(133, 129, 129, 0.12);

$submit-btn-bg: darkblue;

$submit-btn-hover-bg: rgb(23, 23, 119);
